<div>
    <h1>My To-Do App!</h1>
    <todo-form @added="addTask" buttonText="Add New Task"/>
    <ul>
        <li v-for="task in tasks"><input type="checkbox" :checked="task.completed"> {{ task.description }}</li>
    </ul>
</div>